MYSQL_ALLOW_EMPTY_PASSWORD=no
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=life_service
MYSQL_PORT=3306

REDIS_PASSWORD=
REDIS_PORT=6379

ROCKETMQ_VERSION=5.5.0
ROCKETMQ_BROKER_IP=127.0.0.1
ROCKETMQ_NAMESRV_PORT=9876
ROCKETMQ_BROKER_FAST_PORT=10909
ROCKETMQ_BROKER_PORT=10911
ROCKETMQ_BROKER_HA_PORT=10912
ROCKETMQ_DASHBOARD_PORT=18082
